{% extends "auctions/layout.html" %}
{% block body %}
{% load static %}

{% if user.is_authenticated %}
        <h1>Categories</h1>
        
<ul>
    {% for article in object_list %}
        
        
            <li>{{ article.name }} id {{ article.pk }} {{ article.category }}</li>
       
           
{% empty %}
    <li>No articles yet.</li>
    
{% endfor %}
</ul>

{% else %}
    <div class="alert alert-danger" role="alert">
        Not signed in.
    </div>
{% endif %}
        
    
</ul>
    </div>
</div>
{% endblock %}