{% extends "auctions/layout.html" %}
{% block body %}
{% load static %}


        <h1>Categories</h1>
        
        {%for cat in cat_list %}
        
        <h2>{{cat}}</h2>
       
        {% endfor %}
            
           
            <a  href="{% url 'catfilter' cat=silver %}">
            <h2>{{silver}}</h2>
            </a>
            <a  href="{% url 'catfilter' cat=bronze %}">
            <h2>{{bronze}}</h2>
            </a>
            <a  href="{% url 'catfilter' cat=gold %}">
            <h2>{{gold}}</h2>
            </a>
     
{% endblock %}