{% extends "auctions/layout.html" %}
{% block body %}
{% load static %}
<h1> {{ name }}</h1>
<div class="center">
    <div class="left-detail">

    
<ul>
    
        
    
        <h1>{{listing.name}}</h1>
        
        <div class="row-detail" >
             
            
            <div class="col-xs-9 col-md-7">
                {% if listing.image %}
                <img src="{{ listing.image.url}}" width="800" height="600" alt="{{ name }}">
                {% endif %}
            </div>
            
            <div class="col-xs-3 col-md-5">
                {{listing.description}}
                <p>{{listing.category}} Category </p>
            </div>
            
            <div class="col-xs-3 col-md-5">
                <h3>Price: {{listing.initial_price}} .-</h3>
                <p>on the {{listing.date}}</p>
                
            </div>
          
        </div>
        {% if user.is_authenticated %}
                        - Add to watch list/remove from watchList
                        - bid item
                        - if owner close auction --> inactive and highest bid winner
                        - auction close + higer bid --> you win!!
                        - add comment and show comment
                    {% else %}
                    <div class="alert alert-danger" role="alert">
                        Not signed in.
                    </div>
                    {% endif %}
        
    
</ul>
    </div>
</div>
{% endblock %}